<div class="wrapper">
  <div class="bg-overlay">
    <div class="container">
     <div class = "tag-position">
     <%= link_to image_tag("facebook-icon.png",class: "fb-icon"), "/auth/facebook", id: "sign_in" %>
      </div>

      <div class="homebanner ">
      	<h1>Tips for Travelers, Tips from Travelers</h1>
      </div>
     
    </div>
  </div>
</div>
