
<div style="width:200px; margin:0 auto;padding-top:150px;">

	<%= link_to "Add a Tip", new_tip_path, class: "btn btn-primary btn-lg btn-block" %>

	<%= link_to "Search a Tip", tips_path, class: "btn btn-default btn-lg btn-block"%>

</div>

