html,body 
{
  height:100%;
}
.txt-16{font-size:16px}
.bottom-10{margin-bottom:10px}

@font-face {
    font-family: "SIMPLIFICA Typeface";
    src: font-url("SIMPLIFICA_Typeface.ttf");
}


.wrapper{
  position: relative;
  top: 0;
  background-image: image-url("world.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  min-height: 800px;
  max-height: 800px;
}
.error{
  color:#cb4437;
}


.bg-overlay{
  position:absolute;
  width:100%;
  height:100%;
  background-color:rgba(0,0,0,0.3);
}



.homebanner{
  color:white;
  h1{
    margin-top: 160px;
    margin-bottom: 10px;
    margin-left: 320px;
    color: black;
    font-size: 52px;
    font-weight: lighter;
    text-shadow: 1px 1px 0px #0b141e;
    line-height: 50px;
    font-family:SIMPLIFICA Typeface;
  }
}

.fb-icon{
  display: block;
  margin-top: 125px;
  margin-left:120px;
  float:left;
}
