
<%= form_tag(tips_path, :location => "get", id: "search-form") do %>
  <%= text_field_tag :location, params[:location], placeholder: "Search Tips ",id: "searchlocation" %>
  <%= submit_tag "Search", :name => nil %>
<% end %>

<div style="padding-top:50px;">
	<h2 style="text-align:center;padding-bottom:30px">All Tips</h2>

	<ul class="tips"> 
	  <% @tips.each do |tip| %>
	    <li class="list-group-item" style="margin-right:40px;">
	      <h4 class="list-group-item-heading"><%= tip.location %></h4>
	      <p class="list-group-item-text"><%= tip.tip %></p>
	    </li>	
	  <% end %>
	</ul>
</div>
