

<h2 class="text-center"> Create a tip </h1>
<div class="container">
	<div class="row" id="login-container">
  <div class="">
    <%= form_for(@tip) do |f| %>

      <%= f.label :tip%>
      <%= f.text_area :tip, class: "form-control", rows: "3",placeholder: "Enter tip Less than 201 characters"%>
      <%= f.label :location, style: "margin-top:20px" %>
		<input  class="form-control" id="tiplocation" placeholder="Enter your address" name="tip[location]"
	             type="text"></input>


      <%= f.submit "Enter tip", class: "btn btn-large btn-primary", style: "margin-top:40px" %>
    <% end %>
  </div>
</div>