<!DOCTYPE html>
<html>
<head>
  <title>Traveltip</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>
  	<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places"></script>
	<script type="text/javascript" src="/assets/jquery.geocomplete.js"></script>
  </head>
<body>

<div >
	<% if current_user %>
	    Welcome <strong><%= current_user.name %></strong>!
	    
	    <%= link_to "Sign out", signout_path, id: "sign_out", style:"float:right;padding-right:20px;" %>

	    <%= link_to "Home", options_path, style:"float:right;padding-right:20px;" %>

	<%end%>    
</div>
	
	
<%= yield %>

</body>
</html>
